* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    /*background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);*/
    background-color: #E6E6E6;
}
.header {
    width: 100vw;
    height: 500px;
    background-image: url('@/assets/header-img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.95;
}